@import "../../../../styles/Common.scss";

.offer_main_reviews {
  .offer_main_reviews_header {
    font-size: 24px;
    font-weight: 700;
    margin: 32px 0;

    .reviews_num {
      color: $Acolor;
      margin-left: 8px;
    }
  }

  .offer_main_reviews_detail {
    height: 165px;
    margin-bottom: 24px;
    display: flex;

    .detail_rating {
      width: 217px;
      height: 100%;
      border-radius: 2px;
      background-color: #f8f9fa;
      text-align: center;
      margin-right: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .detail_rating-average {
        font-size: 48px;
        font-weight: 700;
        color: $blk;
        margin-bottom: 25px;
      }

      .detail_rating-star {
        .star {
          width: 32px;
          height: 32px;
          color: $blk;
          margin: -2px;
        }
      }
    }

    .detail_stats {
      width: 475px;
      height: 100%;
      padding: 24px;
      border-radius: 2px;
      background-color: #f8f9fa;
      text-align: center;

      .detail_stats-title {
        font-size: 14px;
        font-weight: 500;
        color: $Acolor;
      }

      .detail_stats-star-wrapper {
        margin: 8px 0;
        height: 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        .detail_stats-stars {
          width: 40px;
          display: flex;
          justify-content: flex-end;

          .small_star {
            width: 11px;
          }
        }

        .detail_stats-bar {
          width: 288px;
          height: 4px;
          border-radius: 4px;
          background-color: $bordercolor;
          position: relative;
          margin-left: 8px;

          .stats-bar_blue1 {
            width: 288px;
            height: 4px;
            left: -8px;
            border-radius: 4px;
            background-color: $themecolor;
            position: absolute;
            margin-left: 8px;
          }
        }

        .detail_stats-count {
          margin-left: 8px;
          font-size: 12px;
          color: #848c94;
          width: 36px;
          text-align: left;
        }
      }
    }
  }

  .offer_main_reviews_list {
    margin: 20px 0;
    position: relative;
    .reives_list_with_more {
      // max-height: 400px;
      overflow: hidden;
      position: relative;
    }
    .offer_main_reviews_list_hidden {
      width: 100%;
      height: 184px;
      text-align: center;
      background: linear-gradient(
        180deg,
        hsla(0, 0%, 100%, 0) 0,
        #fff 50%,
        #fff
      );
      position: absolute;
      bottom: 0;
      left: 0;

      .review_more_btn {
        font-size: 16px;
        font-weight: 700;
        color: $fontgrey;
        border: 1px solid #ced4da;
        border-radius: 2px;
        padding: 16px 40px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}

.hidden_none {
  display: block;
}
