@import "../../../../styles/Common.scss";

.offer_side {
  width: 320px;
  margin-left: 40px;
  margin-top: 50px;
  top: 0;
  right: 0;
  position: sticky;
}

//사이드바 내부
.side_container {
  //첫번째 사이드 박스
  .offer_side_main-box {
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(52, 58, 64, 0.15),
      0 2px 4px 0 rgba(52, 58, 64, 0.15);
    width: 100%;

    .offer_side_main-box_body {
      padding: 24px 24px 16px;

      div {
        display: flex;
        justify-content: space-between;
        .main-box_body-price {
          font-weight: 700;
          .price-main {
            font-size: 24px;
            line-height: 0.9;
          }
          .price-won {
            font-size: 18px;
          }
          .price-perperson {
            font-size: 13px;
            font-weight: 400;
            color: #848c94;
            margin-left: 4px;
          }
        }

        .main-box_body-share {
          cursor: pointer;
        }
      }

      .main-box_body_table {
        width: 272px;
        margin-top: 14px;
        margin-bottom: 14px;

        tbody {
          vertical-align: middle;

          td {
            border-top: $boldS;
            border-bottom: $boldS;
          }

          .main-box_traveler {
            text-align: center;
            background-color: #f8f9fa;
            font-size: 14px;
            line-height: 2.71;
          }

          .main-box_travel-price {
            font-size: 14px;
            font-weight: 700;
            line-height: 2.71;
            color: #343a40;
            padding-left: 16px;
          }
        }
      }

      .main-box_body-booking {
        width: 100%;
        height: 48px;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        border-radius: 2px;
        border: 1px solid $themecolor;
        background-color: $themecolor;
        padding: 0 32px;
        margin-bottom: 8px;
        cursor: pointer;

        &:hover {
          background-color: #3b9dee;
        }
      }

      .main-box_body-wish {
        width: 100%;
        height: 40px;
        font-size: 14px;
        font-weight: 700;
        color: $fontgrey;
        border-radius: 2px;
        border: 1px solid #ced4da;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;

        &:hover {
          box-shadow: 0.1px 0.1px 0.1px 0.1px #bcc0c5;
          transition: box-shadow 0.2s ease;
        }
        img {
          margin-right: 4px;
          margin-top: 1px;
        }
      }

      .main-box_body-wish-num {
        font-size: 13px;
        color: #848c94;
        margin-top: 5px;
        margin-bottom: 16px;
        text-align: center;
      }
    }

    .offer_side_main-box_question {
      height: 64px;
      border-top: $boldS;
      align-items: center;
      text-align: center;
      display: flex;
      justify-content: space-between;
      padding: 16px 24px;

      .main-box_question-guide {
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          margin-right: 8px;
        }

        span {
          max-width: 124px;
          font-size: 14px;
          font-weight: 700;

          &:hover {
            color: #0275d8;
          }
        }
      }

      .main-box_question-message {
        font-size: 14px;
        font-weight: 700;
        color: $Acolor;
        display: flex;
        cursor: pointer;

        img {
          margin-right: 5px;
        }
      }
    }
  }
  //두번째 사이드 박스
  .offer_side_second-box {
    border-radius: 2px;
    background-color: #f5f6f7;
    margin-top: 16px;
    font-size: 14px;
    font-weight: 500;
    color: #666d75;
    padding: 8px 0;
    div {
      margin-left: 20px;
      margin-top: 8px;
      margin-bottom: 8px;
      display: flex;

      img {
        margin-right: 10px;
      }
    }
  }
}
//세번째 사이드 박스
.offer_side_third-box {
  width: 320px;
  height: 74px;
  background-image: url("../../../../img/urailpass.jpg");
  background-size: cover;
  margin-top: 16px;
}

//사이드바 스크롤에 따른 fixed화
.offer_side_fixed {
  top: 80px;
  position: fixed;
}
