@import "../../pages/Offer/Offer.scss";

.offer_main_course_content {
  width: 700px;
  background-color: #f8f9fa;
  border-radius: 3px;
  padding: 16px;
  display: flex;
  .offer_main_course_map-wrapper {
    margin-right: 15px;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .offer_main_course_map-line {
      width: 2px;
      height: calc(100% - 0px);
      background-color: #dee2e6;
      margin-top: 8px;
    }
  }
  .offer_main_course_desc {
    margin-right: 16px;

    .offer_main_course_desc-title {
      font-size: 14px;
      font-weight: 700;
      color: $blk;
    }

    .offer_main_course_desc-detail {
      font-size: 14px;
      line-height: 1.71;
      margin-top: 8px;
      letter-spacing: -0.2px;
    }
  }

  .course_photo {
    width: 254px;
    height: 169px;
    margin-bottom: 8px;
  }
}
