.package_product_title {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    color: #343a40;
    font-size: 24px;
    font-weight: 700;
  }

  span {
    color: #666d75;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
  }
}

.package_product_guide_container {
  width: 1080px;
  margin-left: -10px;
  display: flex;
  justify-content: space-between;
}

.package_product_container {
  width: 1080px;
  margin-left: -10px;
  margin-bottom: 100px;
}
