.package_product_wrapper {
  margin-top: 50px 0;
  .package_product_title {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      color: #343a40;
      font-size: 24px;
      font-weight: 700;
    }

    span {
      color: #666d75;
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
    }
  }
  .package_slider_wrapper {
    width: 1060px;
    margin-left: -10px;
  }
}
