.package_select {
  .package_bg {
    position: relative;
    width: 100%;
    height: 163px;
    background: #2b96ed;
    padding-top: 123px;
    margin-top: -123px;
  }

  .package_navigator {
    position: relative;
    width: 1060px;
    height: 373px;
    margin: -40px auto 48px;
    border-radius: 8px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.1);
    background: #fff;

    @mixin package_fontsize {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 16px;
      color: #343a40;
    }

    .package_areas_container {
      height: 166px;
      padding: 40px 90px;
      border-bottom: 1px solid #e9ecef;

      h1 {
        @include package_fontsize;
      }

      .package_areas {
        width: 100%;
        height: 48px;
        display: flex;

        ul {
          height: 100%;
          flex-grow: 2;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 8px;
          border-radius: 4px;
          background-color: #f1f3f5;

          li {
            font-size: 16px;
            font-weight: 700;
            color: #666d75;
            transition: color 0.2s;

            cursor: pointer;
            &:hover {
              color: #212529;
            }

            &:after {
              content: "";
              width: 3px;
              height: 3px;
              display: inline-block;
              margin: 0 10px 4px 10px;
              border-radius: 3px;
              background: #dee2ed;
            }

            &:last-child:after {
              display: none;
            }
          }
        }
      }

      .package_areas_selector {
        button {
          border-radius: 4px;
          background-color: rgb(241, 243, 245);
          display: flex;
          align-items: center;
          padding: 0 27px;
          font-size: 16px;
          font-weight: 700;
          line-height: 48px;
          color: #495056;
          border: 0;
          cursor: pointer;

          img {
            margin-left: 5px;
          }

          &:hover {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
            color: #495056;
          }
        }
      }

      .package_map_container {
        position: absolute;
        margin-top: 8px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08),
          0 0 8px 0 rgba(33, 37, 41, 0.16), 0 4px 8px 0 rgba(0, 0, 0, 0.08);
        background: #fff;
        z-index: 10;
        // transform: scale(0.5);
        transition: transform 0.12s ease, opacity 0.12s ease,
          visibility 0.12s ease;
        display: none;
        .package_map_header {
          height: 56px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 12px 0 24px;
          border-bottom: 1px solid #e9ecef;

          h2 {
            font-size: 16px;
            font-weight: 700;
            color: #343a40;
          }

          button {
            background: rgba(0, 0, 0, 0);
            border: 0;

            img {
              width: 24px;
              height: 24px;
              transition: background 0.2s;
            }

            &:hover {
              background: #f1f3f5;
              border-radius: 2px;
            }
          }
        }

        .package_map_section {
          width: 880px;

          .package_map_cnt {
            display: flex;
            padding: 12px 24px;
            border-bottom: 1px solid #f1f3f5;

            &:first-child {
              padding-top: 20px;
            }

            h3 {
              flex: 1;
              width: 25%;
              margin-bottom: 0;
              font-size: 15px;
              font-weight: 600;
              color: #343a40;
              line-height: 32px;
              transition: color 0.2s;
              cursor: pointer;

              &:hover {
                color: #2b96ed;
              }
            }

            ul {
              flex: 4;
              flex-wrap: wrap;
              display: flex;

              li {
                width: 25%;
                font-size: 15px;
                color: #666d75;
                line-height: 32px;
                transition: color 0.2s;
                cursor: pointer;

                &:hover {
                  color: #2b96ed;
                }
              }
            }
          }
        }
      }
    }

    .package_categories_container {
      padding: 40px 90px;

      h1 {
        @include package_fontsize;
      }

      .package_categories {
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
          width: 140px;
          height: 88px;
          font-size: 14px;
          font-weight: 600;
          color: #343a40;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: 1px solid #dee2e6;
          border-radius: 4px;
          transition: background 0.2s;
          cursor: pointer;

          img {
            width: 32px;
            height: 32px;
            margin-bottom: 6px;
          }

          &:hover {
            background: #f8f9fa;
          }
        }
      }
    }
  }
}
