// @import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap&subset=korean");

// * {
//   font-family: "Noto Sans KR";
// }


.star_blue {
    width: 14px;
    height: 14px;
    color: #51abf3;
    margin: -1.5px;
}