@import "../../../Offer/Offer.scss";
@import "../../../../styles/Common.scss";
//코스 소개

.offer_main_course {
  margin: 32px 0;
  position: relative;
  .offer_main_course_title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .offer_main_course_content {
    width: 700px;
    background-color: #f8f9fa;
    border-radius: 3px;
    padding: 16px;
    display: flex;
    margin-bottom: 10px;

    .offer_main_course_map-wrapper {
      margin-right: 15px;
      margin-top: 2px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .offer_main_course_map-line {
        width: 2px;
        height: calc(100% - 0px);
        background-color: #dee2e6;
        margin-top: 8px;
      }
    }
    .offer_main_course_desc {
      margin-right: 16px;

      .offer_main_course_desc-title {
        font-size: 14px;
        font-weight: 700;
        color: $blk;
      }

      .offer_main_course_desc-detail {
        font-size: 14px;
        line-height: 1.71;
        margin-top: 8px;
        letter-spacing: -0.2px;
      }
    }

    .course_photo {
      width: 254px;
      height: 169px;
      margin-bottom: 8px;
    }
  }

  .content_last {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, #fff 90%, #fff);
    position: absolute;
    height: 100px;
    width: 700px;
    padding: 16px;
    overflow: hidden;
    max-height: 100px;
    bottom: 0;
    .button_wrapper {
      margin-top: 16px;
      text-align: center;

      button {
        padding: 16px 40px;
        border: 1px solid #ced4da;
        border-radius: 2px;
        background-color: #fff;
        color: $fontgrey;

        cursor: pointer;
        div {
          font-size: 16px;
          font-weight: 700;
        }
        img {
          width: 16px;
          height: 16px;
          margin-left: 5px;
        }
        &:hover {
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}
