.offer {
  border-top: 1px solid #dee2e6;
  line-height: 25px;
  color: #343a40;
}

.offer hr {
  border: 1px solid #dee2e6;
}

.offer p,
.offer div,
.offer h1,
.offer h4,
.offer h5 {
  color: #343a40;
}

.offer .offer_nav {
  background-color: white;
  width: 100%;
  height: 56px;
  line-height: 56px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
}

.offer .offer_nav .offer_nav_list {
  width: 1076px;
}

.offer .offer_nav span {
  margin-right: 32px;
  color: #495056;
  padding-bottom: 17px;
}

.offer .offer_nav span:hover {
  -webkit-box-shadow: inset 0 -3px 0 #dcdcdc;
          box-shadow: inset 0 -3px 0 #dcdcdc;
}

.offer .offer_container {
  width: 100%;
}

.offer .offer_container .offer_container_box {
  width: 1076px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.offer .offer_container .offer_container_box .offer_main {
  width: 700px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.25;
  color: #343a40;
  margin-top: 48px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_inner-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 23px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_inner-bar a {
  color: #848c94;
  margin-left: 4px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_inner-bar p {
  font-size: 14px;
  color: #848c94;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_inner-bar .offer_main_inner-bar-star {
  margin-left: 20px;
  margin-right: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_photos {
  width: 100%;
  height: 646px;
  border: 1px solid black;
  margin-bottom: 30px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_price {
  margin-top: 30px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_price div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 13px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_price div .offer_main_price_title {
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_price div .offer_main_price_question_desc {
  font-weight: 700;
  color: #51abf3;
  margin-right: 4px;
  cursor: pointer;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_price .offer_main_price_date {
  width: 250px;
  height: 48px;
  font-size: 16px;
  color: #343a40;
  text-align: left;
  border: 1px solid #dee2e6;
  border-radius: 2px;
  padding: 12px 0;
  display: inline-block;
  cursor: pointer;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_price .offer_main_price_date img {
  margin-left: 13px;
  margin-right: 8px;
  margin-top: -2px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_price .offer_main_price_option select {
  width: 250px;
  height: 48px;
  font-size: 16px;
  border: 1px solid #dee2e6;
  background-color: white;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_price .offer_main_price_option select option {
  color: #343a40;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_price .offer_main_price_check-price button {
  width: 160px;
  height: 48px;
  font-size: 15px;
  font-weight: 700;
  color: #ced4da;
  background-color: #f5f6f7;
  border: 0;
  border-radius: 2px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_intro-wrapper {
  margin: 32px 0;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_intro-wrapper .offer_main_intro .offer_main_intro_subtitle {
  font-size: 24px;
  font-weight: 700;
  color: #343a40;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_intro-wrapper .offer_main_intro .offer_main_intro_detail {
  font-size: 15px;
  margin: 16px 0;
  position: relative;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_intro-wrapper .offer_main_intro .offer_main_intro_detail .intro_with-more {
  max-height: 400px;
  overflow: hidden;
  position: relative;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_intro-wrapper .offer_main_intro .offer_main_intro_detail .intro_with-more-hidden {
  width: 100%;
  height: 184px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(50%, #fff), to(#fff));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, #fff 50%, #fff);
  position: absolute;
  bottom: 0;
  left: 0;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_intro-wrapper .offer_main_intro .offer_main_intro_detail .intro_with-more-hidden .moreBtn {
  font-size: 16px;
  font-weight: 700;
  color: #495056;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid #ced4da;
  border-radius: 2px;
  padding: 16px 40px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_intro-wrapper .offer_main_intro .offer_main_intro_detail .intro_with-more-hidden .moreBtn:focus {
  outline: none;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_intro-wrapper .offer_main_intro_notice {
  background-color: #fff8e1;
  padding: 24px 16px 24px 52px;
  position: relative;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_intro-wrapper .offer_main_intro_notice img {
  position: absolute;
  top: 30px;
  left: 24px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_intro-wrapper .offer_main_intro_notice p {
  font-size: 15px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_mini-reviews {
  margin: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_mini-reviews .offer_main_mini-reviews-left {
  width: 64px;
  margin-right: 26px;
  display: inline-block;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_mini-reviews .offer_main_mini-reviews-left .mini-reviews-rate {
  font-size: 32px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_mini-reviews .offer_main_mini-reviews-left .offer_main_mini-reviews-sub .mini-reviews-star-rating {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: -10px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_mini-reviews .offer_main_mini-reviews-left .offer_main_mini-reviews-sub p {
  font-size: 12px;
  color: #848c94;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_mini-reviews .offer_main_mini-reviews-right {
  width: 610px;
  display: inline-block;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_mini-reviews .offer_main_mini-reviews-right .mini-reviews-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_mini-reviews .offer_main_mini-reviews-right .mini-reviews-star p {
  font-size: 14px;
  margin-left: 6px;
  display: inline-block;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_mini-reviews .offer_main_mini-reviews-right .mini-reviews-stats {
  font-size: 12px;
  color: #848c94;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_mini-reviews .offer_main_mini-reviews-right .mini-reviews-content {
  font-size: 15px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_mini-reviews .offer_main_mini-reviews-right .mini-reviews-with-more {
  max-height: 75px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_mini-reviews .offer_main_mini-reviews-right .mini-reviews-with-more span {
  font-size: 14px;
  font-weight: 700;
  color: #2b96ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_others {
  margin: 32px 0;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_others h5 {
  font-size: 24px;
  font-weight: 700;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_others div {
  width: 100%;
  height: 310px;
  border: 1px solid black;
  margin-top: 20px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_note {
  margin: 24px 0;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_note .offer_main_note_content h4 {
  font-size: 18px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_note .offer_main_note_content p {
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 24px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_note .offer_main_note_with-more {
  font-size: 15px;
  font-weight: 700;
  color: #2b96ed;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_note .offer_main_note_with-more span {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_meeting-time {
  margin: 32px 0;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_meeting-time h1 {
  font-size: 24px;
  font-weight: 700;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_meeting-time h5 {
  font-size: 15px;
  font-weight: 500;
  margin-top: 7px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_meeting-point {
  margin: 32px 0;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_meeting-point h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_meeting-point div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_meeting-point div .map-icon {
  width: 70px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_meeting-point div .offer_main_meeting-point-detail {
  width: 610px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_meeting-point div .offer_main_meeting-point-detail .detail-title {
  font-size: 18px;
  font-weight: 700;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_meeting-point div .offer_main_meeting-point-detail span {
  font-size: 14px;
  font-weight: 700;
  color: #2b96ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_course {
  margin: 32px 0;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_course .offer_main_course_title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_guide {
  margin: 32px 0;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_guide .offer_main_guide_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 14px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_guide .offer_main_guide_header .guide_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_guide .offer_main_guide_header .guide_profile img {
  width: 56px;
  border-radius: 50%;
  margin-right: 18px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_guide .offer_main_guide_header .guide_profile span {
  font-size: 18px;
  font-weight: 700;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_guide .offer_main_guide_header button {
  height: 40px;
  border: 1px solid #ced4da;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_guide .offer_main_guide_header button .guide_message {
  font-size: 14px;
  font-weight: 700;
  color: #495056;
  padding: 0 16px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_guide .offer_main_guide_header button .guide_message img {
  margin-right: 5px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_guide .offer_main_guide_content {
  font-size: 15px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_guide .offer_main_guide_content .guide_content-detail {
  max-height: 250px;
  overflow: hidden;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_guide .offer_main_guide_content .guide_content-more {
  font-size: 14px;
  font-weight: 700;
  color: #2b96ed;
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_reviews .offer_main_reviews_header {
  font-size: 24px;
  font-weight: 700;
  margin: 32px 0;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_reviews .offer_main_reviews_header .reviews_num {
  color: #2b96ed;
  margin-left: 8px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_reviews .offer_main_reviews_detail {
  height: 165px;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_reviews .offer_main_reviews_detail .detail_rating {
  width: 217px;
  height: 100%;
  border-radius: 2px;
  background-color: #f8f9fa;
  text-align: center;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_reviews .offer_main_reviews_detail .detail_rating .detail_rating-average {
  font-size: 48px;
  font-weight: 700;
  color: #343a40;
  margin-bottom: 25px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_reviews .offer_main_reviews_detail .detail_rating .detail_rating-star .star {
  width: 32px;
  height: 32px;
  color: #343a40;
  margin: -2px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_reviews .offer_main_reviews_detail .detail_stats {
  width: 475px;
  height: 100%;
  padding: 24px;
  border-radius: 2px;
  background-color: #f8f9fa;
  text-align: center;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_reviews .offer_main_reviews_detail .detail_stats .detail_stats-title {
  font-size: 14px;
  font-weight: 500;
  color: #2b96ed;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_reviews .offer_main_reviews_detail .detail_stats .detail_stats-star-wrapper {
  margin: 8px 0;
  height: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_reviews .offer_main_reviews_detail .detail_stats .detail_stats-star-wrapper .detail_stats-stars {
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_reviews .offer_main_reviews_detail .detail_stats .detail_stats-star-wrapper .detail_stats-stars .small_star {
  width: 11px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_reviews .offer_main_reviews_detail .detail_stats .detail_stats-star-wrapper .detail_stats-bar {
  width: 288px;
  height: 4px;
  border-radius: 4px;
  background-color: #dee2e6;
  position: relative;
  margin-left: 8px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_reviews .offer_main_reviews_detail .detail_stats .detail_stats-star-wrapper .detail_stats-bar .stats-bar_blue1 {
  width: 288px;
  height: 4px;
  left: -8px;
  border-radius: 4px;
  background-color: #51abf3;
  position: absolute;
  margin-left: 8px;
}

.offer .offer_container .offer_container_box .offer_main .offer_main_reviews .offer_main_reviews_detail .detail_stats .detail_stats-star-wrapper .detail_stats-count {
  margin-left: 8px;
  font-size: 12px;
  color: #848c94;
  width: 36px;
  text-align: left;
}

.offer_side {
  width: 320px;
  margin-left: 2.5em;
  top: 50px;
  right: 0;
  position: absolute;
}

.offer_side div .offer_side_main-box {
  border-radius: 2px;
  -webkit-box-shadow: 0 0 0 1px rgba(52, 58, 64, 0.15), 0 2px 4px 0 rgba(52, 58, 64, 0.15);
          box-shadow: 0 0 0 1px rgba(52, 58, 64, 0.15), 0 2px 4px 0 rgba(52, 58, 64, 0.15);
  width: 100%;
}

.offer_side div .offer_side_main-box .offer_side_main-box_body {
  padding: 24px 24px 16px;
}

.offer_side div .offer_side_main-box .offer_side_main-box_body div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer_side div .offer_side_main-box .offer_side_main-box_body div .main-box_body-price {
  font-weight: 700;
}

.offer_side div .offer_side_main-box .offer_side_main-box_body div .main-box_body-price .price-main {
  font-size: 24px;
  line-height: 0.9;
}

.offer_side div .offer_side_main-box .offer_side_main-box_body div .main-box_body-price .price-won {
  font-size: 18px;
}

.offer_side div .offer_side_main-box .offer_side_main-box_body div .main-box_body-price .price-perperson {
  font-size: 13px;
  font-weight: 400;
  color: #848c94;
  margin-left: 4px;
}

.offer_side div .offer_side_main-box .offer_side_main-box_body div .main-box_body-share {
  cursor: pointer;
}

.offer_side div .offer_side_main-box .offer_side_main-box_body .main-box_body_table {
  width: 272px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.offer_side div .offer_side_main-box .offer_side_main-box_body .main-box_body_table tbody {
  vertical-align: middle;
}

.offer_side div .offer_side_main-box .offer_side_main-box_body .main-box_body_table tbody td {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.offer_side div .offer_side_main-box .offer_side_main-box_body .main-box_body_table tbody .main-box_traveler {
  text-align: center;
  background-color: #f8f9fa;
  font-size: 14px;
  line-height: 2.71;
}

.offer_side div .offer_side_main-box .offer_side_main-box_body .main-box_body_table tbody .main-box_travel-price {
  font-size: 14px;
  font-weight: 700;
  line-height: 2.71;
  color: #343a40;
  padding-left: 16px;
}

.offer_side div .offer_side_main-box .offer_side_main-box_body .main-box_body-booking {
  width: 100%;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border-radius: 2px;
  border: 1px solid #51abf3;
  background-color: #51abf3;
  padding: 0 32px;
  margin-bottom: 8px;
  cursor: pointer;
}

.offer_side div .offer_side_main-box .offer_side_main-box_body .main-box_body-booking:hover {
  background-color: #3b9dee;
}

.offer_side div .offer_side_main-box .offer_side_main-box_body .main-box_body-wish {
  width: 100%;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  color: #495056;
  border-radius: 2px;
  border: 1px solid #ced4da;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
}

.offer_side div .offer_side_main-box .offer_side_main-box_body .main-box_body-wish:hover {
  -webkit-box-shadow: 0.1px 0.1px 0.1px 0.1px #bcc0c5;
          box-shadow: 0.1px 0.1px 0.1px 0.1px #bcc0c5;
  -webkit-transition: -webkit-box-shadow 0.2s ease;
  transition: -webkit-box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
}

.offer_side div .offer_side_main-box .offer_side_main-box_body .main-box_body-wish img {
  margin-right: 4px;
  margin-top: 1px;
}

.offer_side div .offer_side_main-box .offer_side_main-box_body .main-box_body-wish-num {
  font-size: 13px;
  color: #848c94;
  margin-top: 5px;
  margin-bottom: 16px;
  text-align: center;
}

.offer_side div .offer_side_main-box .offer_side_main-box_question {
  height: 64px;
  border-top: 1px solid #dee2e6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 24px;
}

.offer_side div .offer_side_main-box .offer_side_main-box_question .main-box_question-guide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.offer_side div .offer_side_main-box .offer_side_main-box_question .main-box_question-guide img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.offer_side div .offer_side_main-box .offer_side_main-box_question .main-box_question-guide span {
  max-width: 124px;
  font-size: 14px;
  font-weight: 700;
}

.offer_side div .offer_side_main-box .offer_side_main-box_question .main-box_question-guide span:hover {
  color: #0275d8;
}

.offer_side div .offer_side_main-box .offer_side_main-box_question .main-box_question-message {
  font-size: 14px;
  font-weight: 700;
  color: #2b96ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.offer_side div .offer_side_main-box .offer_side_main-box_question .main-box_question-message img {
  margin-right: 5px;
}

.offer_side div .offer_side_second-box {
  border-radius: 2px;
  background-color: #f5f6f7;
  margin-top: 16px;
  font-size: 14px;
  font-weight: 500;
  color: #666d75;
  padding: 8px 0;
}

.offer_side div .offer_side_second-box div {
  margin-left: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer_side div .offer_side_second-box div img {
  margin-right: 10px;
}

.offer_side .offer_side_third-box {
  width: 320px;
  height: 74px;
  background-image: url("../../img/urailpass.jpg");
  background-size: cover;
  margin-top: 16px;
}

.offer_num {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  background-color: #fff;
  text-align: center;
  padding: 40px;
}

.offer_num .offer_num-number {
  color: #2b96ed;
}
/*# sourceMappingURL=Offer.css.map */