$themecolor: #51abf3;
$blk: #343a40;
$boldS: 1px solid #dee2e6;

//상세페이지 공통 스타일 적용
.offer {
  border-top: $boldS;
  line-height: 25px;
  hr {
    border: $boldS;
  }

  p,
  div {
    color: $blk;
  }
  //상세페이지 nav바
  .offer_nav {
    background-color: white;
    width: 100%;
    height: 56px;
    line-height: 56px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    display: none;
    //   display: flex;
    justify-content: center;

    font-size: 15px;

    .offer_nav_list {
      width: 1076px;
    }

    span {
      margin-right: 32px;
      color: #495056;
      padding-bottom: 17px;
    }
    span:hover {
      // box-shadow: inset 0 -3px 0 #51abf3;
      box-shadow: inset 0 -3px 0 #dcdcdc;
    }
  }
}

//상세페이지 가장 큰 container
.offer_container {
  width: 100%;

  .container {
    width: 1076px;
    margin: auto;
    display: flex;
  }
}

//상세페이지 메인
.offer_main {
  width: 700px;
  .offer_main_title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.25;
    color: #343a40;
    margin-top: 48px;
  }

  .offer_main_inner-bar {
    display: flex;
    margin-top: 10px;
    margin-bottom: 23px;

    a {
      color: #848c94;
    }
    p {
      font-size: 14px;
      color: #848c94;
    }

    .offer_main_inner-bar-star {
      font-size: 12px;
      color: $themecolor;
      margin-left: 20px;
      margin-right: 4px;

      display: flex;
      align-items: center;
    }
  }

  .offer_main_photos {
    width: 100%;
    height: 646px;
    border: 1px solid black;
    margin-bottom: 30px;
  }
}

.offer_main_price {
  margin-top: 30px;

  div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;

    .offer_main_price_title {
      font-size: 18px;
      font-weight: 700;
      color: black;
    }
    .offer_main_price_question_desc {
      font-weight: 700;
      color: $themecolor;
      margin-right: 4px;
    }
  }

  .offer_main_price_date {
    width: 250px;
    height: 48px;
    font-size: 16px;
    color: #343a40;
    text-align: left;
    border: $boldS;
    border-radius: 2px;
    padding: 12px 0;
    display: inline-block;

    img {
      margin-left: 13px;
      margin-right: 8px;
      margin-top: -2px;
    }
  }

  .offer_main_price_option {
    select {
      width: 250px;
      height: 48px;
      font-size: 16px;
      border: $boldS;
      background-color: white;

      option {
        color: #343a40;
      }
    }

    // .offer_main_price_select {
    //   background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlPSIjNTFBQkYzIiBzdHJva2Utd2lkdGg9IjEuMjUiPgogICAgICAgIDxwYXRoIGQ9Ik05LjYyOCA0LjYyNWwuMDI1IDQuNzVoOC4zNGEyLjM3NSAyLjM3NSAwIDEgMCAwLTQuNzVIOS42Mjd6Ii8+CiAgICAgICAgPGNpcmNsZSBjeD0iNyIgY3k9IjciIHI9IjMuMzc1Ii8+CiAgICAgICAgPHBhdGggZD0iTTE0LjM3MiAxOS4zNzVsLS4wMjUtNC43NWgtOC4zNGEyLjM3NSAyLjM3NSAwIDEgMCAwIDQuNzVoOC4zNjV6Ii8+CiAgICAgICAgPGNpcmNsZSBjeD0iMTciIGN5PSIxNyIgcj0iMy4zNzUiIHRyYW5zZm9ybT0icm90YXRlKC0xODAgMTcgMTcpIi8+CiAgICA8L2c+Cjwvc3ZnPgo=");
    // }
  }

  .offer_main_price_check-price {
    button {
      width: 160px;
      height: 48px;
      font-size: 15px;
      font-weight: 700;
      color: #ced4da;
      background-color: #f5f6f7;
      border: 0;
      border-radius: 2px;
    }
  }
}

//바르셀로나 건축학개론 설명 부분
.offer_main_intro-wrapper {
  margin: 32px 0;

  .offer_main_intro_subtitle {
    font-size: 24px;
    font-weight: 700;
    color: #343a40;
  }

  .offer_main_intro_detail {
    font-size: 15px;
    margin: 16px 0;
    position: relative;

    .intro_with-more {
      max-height: 400px;
      overflow: hidden;
      position: relative;
    }

    .intro_with-more-hidden {
      width: 100%;
      height: 184px;
      text-align: center;
      background: linear-gradient(
        180deg,
        hsla(0, 0%, 100%, 0) 0,
        #fff 50%,
        #fff
      );
      position: absolute;
      bottom: 0;
      left: 0;

      .moreBtn {
        font-size: 16px;
        font-weight: 700;
        color: #495056;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
        border: 1px solid #ced4da;
        border-radius: 2px;
        padding: 16px 40px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        cursor: pointer;
        &:focus {
          outline: none;
        }
      }
    }
  }

  //필독 공지사항
  .offer_main_intro_notice {
    background-color: #fff8e1;
    padding: 24px 16px 24px 52px;
    position: relative;

    img {
      position: absolute;
      top: 30px;
      left: 24px;
    }

    p {
      font-size: 15px;
    }
  }
}

//간단 대표 리뷰 1개
.offer_main_mini-reviews {
  margin: 24px 0;
  display: flex;

  .offer_main_mini-reviews-left {
    width: 80px;
    margin-right: 26px;
    display: inline-block;

    .mini-reviews-rate {
      font-size: 32px;
    }

    .offer_main_mini-reviews-sub {
      .mini-reviews-star-rating {
        font-size: 14px;
        margin-top: 8px;
        margin-bottom: -10px;
      }

      p {
        font-size: 12px;
        color: #848c94;
      }
    }
  }

  .offer_main_mini-reviews-right {
    width: 610px;
    display: inline-block;
  }
}

.offer_side {
  background-color: blue;
  width: 320px;
  margin-left: 2.5em;
}

.offer_side_third-box {
  width: 296px;
  height: 74px;
  background-image: url("../../img/urailpass.jpg");
  background-size: cover;
}
