.categories_container {
  margin-top: 40px;
  .categories_title_container {
    width: 1060px;
    margin: 0 auto;

    .categories_title {
      display: flex;
      align-items: center;
      span {
        color: #848c94;
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
        vertical-align: middle;
      }
    }

    h2 {
      margin-top: 5px;
      font-size: 32px;
      font-weight: 600;
    }
  }

  .categories_section {
    width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}
