.search_product_container {
  width: 1060px;
  margin: 50px auto;
  h3 {
    color: #343a40;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.3px;
    line-height: 1;
    margin-bottom: 10px;
  }
  .product_lately_wrapper {
    width: 1080px;
    margin-left: -10px;
  }
}
