@import "../../../../styles/Common.scss";

//포함사항, 불포함 사항
.offer_main_note {
  margin: 24px 0;

  .offer_main_note_content {
    h4 {
      font-size: 18px;
    }
    p {
      font-size: 15px;
      margin-top: 8px;
      margin-bottom: 24px;
    }

    .note_with_more {
      max-height: 240px;
      overflow: hidden;
      margin-bottom: 10px;
    }
  }
}

//만나는 시간
.offer_main_meeting-time {
  margin: 32px 0;

  h1 {
    font-size: 24px;
    font-weight: 700;
  }

  h5 {
    font-size: 15px;
    font-weight: 500;
    margin-top: 7px;
  }
}

//만나는 장소
.offer_main_meeting-point {
  margin: 32px 0;

  h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  div {
    display: flex;

    .map-icon {
      width: 70px;
      height: 70px;
    }

    .offer_main_meeting-point-detail {
      width: 610px;
      margin-left: 20px;
      display: flex;
      flex-direction: column;

      .detail-title {
        font-size: 18px;
        font-weight: 700;
      }

      span {
        font-size: 14px;
        font-weight: 700;
        color: $Acolor;
        display: flex;
        cursor: pointer;
      }
    }
  }
}
