@import "../../../../styles/Common.scss";

.offer_main_guide {
  margin: 32px 0;

  .offer_main_guide_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;

    .guide_profile {
      display: flex;
      align-items: center;

      img {
        width: 56px;
        border-radius: 50%;
        margin-right: 18px;
      }

      span {
        font-size: 18px;
        font-weight: 700;
      }
    }
    button {
      height: 40px;
      border: 1px solid #ced4da;

      .guide_message {
        font-size: 14px;
        font-weight: 700;
        color: $fontgrey;
        padding: 0 16px;

        img {
          margin-right: 5px;
        }
      }
    }
  }

  .offer_main_guide_content {
    font-size: 15px;

    .guide_content-detail {
      max-height: 250px;
      overflow: hidden;
    }
  }
}
