@import "../../../../styles/Common.scss";

.offer_main_intro-wrapper {
  margin: 32px 0;
  .offer_main_intro {
    .offer_main_intro_subtitle {
      font-size: 24px;
      font-weight: 700;
      color: $blk;
    }

    .offer_main_intro_detail {
      font-size: 15px;
      margin: 16px 0;
      position: relative;

      .intro_with-more {
        max-height: 400px;
        overflow: hidden;
        position: relative;
      }

      .intro_with-more-hidden {
        width: 100%;
        height: 184px;
        text-align: center;
        background: linear-gradient(
          180deg,
          hsla(0, 0%, 100%, 0) 0,
          #fff 50%,
          #fff
        );
        position: absolute;
        bottom: 0;
        left: 0;

        .moreBtn {
          font-size: 16px;
          font-weight: 700;
          color: $fontgrey;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
          border: 1px solid #ced4da;
          border-radius: 2px;
          padding: 16px 40px;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);

          cursor: pointer;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
  //필독 공지사항
  .offer_main_intro_notice {
    background-color: #fff8e1;
    padding: 24px 16px 24px 52px;
    position: relative;

    img {
      position: absolute;
      top: 28px;
      left: 24px;
    }

    h5 {
      font-weight: 500;
      color: $fontgrey;
      font-size: 18px;
    }
    p {
      font-size: 15px;
    }
  }
}
